---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 09 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<main>
		<h2>所属</h2>
	<p>
		学校：<br>
		沖縄工業高等専門学校 メディア情報工学科 23年度入学
	</p>
	<p>
		部活：<br>
		ICT委員会所属
	</p>
	<p>
		インターン：<br>
		株式会社みらいスタジオ
	</p>

	<h2>これまでの履歴</h2>
	<div>
		<p>インターン</p>
		<p>みらいスタジオ インターン</p>
		<ul>
			<li>沖縄ハッカソンver.2 サブpm</li>
			<li>高専キャリア2023 京都大茶会 ロジ</li>
			<li>高専キャリアビジッカソン ロジ</li>
			<li>高専キャリアgw交流会 ロジ</li>
		</ul>
	</div>
	<div>
		<p>LT発表</p>
		<ul>
			<li>2023高専キャリア 夏の交流会
				<li>ゲームエンジンだけじゃない！UE5の有用性について</li>
			</li>
			<li>2023沖縄HackersChamploo
				<li>Blueprintでプログラミングを学ぼうって話</li>
			</li>
			<li>高専キャリアクラブ活動LT
				<li>クラブ活動LT - ゲーム開発部</li>
			</li>
			<li>高専キャリア2023京都大茶会
				<li>Github個人開発のすすめ</li>
			</li>
			<li>高専キャリアgw交流会
				<li>未踏ジュニアに応募した話</li>
			</li>
		</ul>
	</div>
	<h2>挑戦したこと</h2>
	<div>
		<p>2024年度未踏ジュニア(未採択)</p>
		<!--提案書のpdfファイル添付する-->
		<p>高専キャリア起業部合宿 ピッチ</p>
	</div>
	</main>
</Layout>
