---
import Layout from '../layouts/BlogPost.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	<Header/>
	<main>
		<div class="container pm-32 flex-center">
		<div class="container px-12 py-8">
			<h2>所属</h2>

			<div class="my-4 py-8">
				<p class="font-bold">学校：</p>
				<span class="">沖縄工業高等専門学校 メディア情報工学科 23年度入学</span>
			</div>

			<div class="my-4 py-8">
				<p class="font-bold">部活：</p>
				<span>ICT委員会所属</span>
			</div>

			<div class="my-4 py-8">
				<p class="font-bold">インターン：</p>
				<span>株式会社みらいスタジオ</span>
			</div>
		</div>

		<div class="container px-12 py-8">
			<h2>これまでの履歴</h2>
			<div class="my-4 py-8">
				<p class="font-bold">インターン</p>
				<span>みらいスタジオ インターン</span>
				<div class="mx-4">
					<li class="list-decimal">沖縄オープンイノベーションハッカソン ver.2  :サブpm</li>
					<li class="list-decimal">高専キャリア2023 京都大茶会  :ロジ</li>
					<li class="list-decimal">高専キャリア春のビジッカソン  :ロジ</li>
					<li class="list-decimal">高専キャリアgw交流会  :ロジ</li>
				</div>
			</div>
			<div>
				<p class="font-bold">LT発表</p>
					<li>2023高専キャリア 夏の交流会
						<li class="mx-8">ゲームエンジンだけじゃない! UE5の有用性について</li>
					<li>2023沖縄HackersChamploo
						<li class="mx-8">Blueprintでプログラミングを学ぼうって話</li>
					<li>高専キャリアクラブ活動LT
						<li class="mx-8">クラブ活動LT - ゲーム開発部</li>
					<li>高専キャリア2023京都大茶会
						<li class="mx-8">Github個人開発のすすめ</li>
					<li>高専キャリアgw交流会
						<li class="mx-8">未踏ジュニアに応募した話</li>
			</div>
		</div>

		<div class="container px-12 py-8">
			<h2>挑戦したこと</h2>
			<div class="my-4 py-8">
			<li>2024年度未踏ジュニア(未採択)</li>
			<!--提案書のpdfファイル添付する-->
			<li>高専キャリア起業部合宿 ピッチ</li>
			</div>
		</div>
	</div>
	</main>
	<Footer/>
	</body>
</html>