---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
import Sbutton from '../components/Sbutton.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="container px-16 py-64 mx-auto">
				<h1 class="flex justify-center">Pranaria's Portfolio</h1>
			</div>

			<div class="py-16">
				<h2 class="flex justify-center">プラナリアとはなにか</h2>

				<div class="container m-8 mx-auto">
					<li class="flex justify-center">沖縄高専メディア情報工学科 2023年度入学</li>
				</div>
				<Sbutton/>
		    </div>

			<div class="py-16">
				<h2 class="flex justify-center">どんなスキルがあるのか</h2>

				<div class="container m-8 mx-auto px-32">
					<span class="container mx-64">
						<p class="flex justify-center my-2 font-bold">技術</p>
						<div class="container flex justify-center">
							<ul>
								<li class="text-center">フロントエンド</li>
								<li class="text-center">ゲーム開発</li>
							</ul>
						</div>
					</span>

					<span class="container mx-64">
						<p class="flex justify-center my-2 font-bold">デザイン</p>
						<div class="container flex justify-center">
							<ul>
								<li class="text-center">名刺制作</li>
							</ul>
						</div>
					</span>
				</div>
			</div>

			<div class="py-16">
				<h2 class="flex justify-center">どんなことをしてきたのか</h2>

				<div class="container m-8 mx-auto px-32">
					<p class="text-center">2024年度</p>
					<span class="flex justify-center">
						<ul>
							<li>未踏ジュニア(予選落ち)</li>
							<li>みらいスタジオインターン所属</li>
						</ul>
					</span>
				</div>
			</div>

			<div class="py-16">
				<h2 class="flex justify-center">お問い合わせ</h2>
				<div class="container m-8 mx-auto px-32">
					<p class="text-center">gmail: eiju.chinen@gmail.com</p>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>