---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="container flex justify-center px-16 py-32">
				<h1>Pranaria's Portfolio</h1>
				<p>		Pranariaとはなにか<br>
			   		どんなスキルがあるのか<br>
			   		どんなことをしてきたのか<br>
			   		に関するページになっています。<br>
			   		定期的に更新します。
				</p>
			</div>

			<h2>プラナリアとはなにか</h2>
			<p>沖縄高専メディア情報工学科 2023年度入学</p>
			<Button />

			<h2>どんなスキルがあるのか</h2>
			<p>技術</p>
			<li>webフロントエンド</li>
			<li>ゲーム開発</li>
			<p>デザイン</p>
			<li>名刺制作</li>
			<li></li>

			<h2>どんなことをしてきたのか</h2>
			<p>2024年度</p>
			<ul>
				<li>未踏ジュニア(予選落ち)</li>
				<li>みらいスタジオインターン所属</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>