---

---

<div class="box-content border-2 rounded mx-auto my-4 px-8 py-1 w-32 bg-white border-black hover:border-gray">
    <a href="/about/" class="flex justify-center font-bold text-black hover:text-gray">more</a>
</div>